@import 'bulma/css/bulma.css';

$primary-color: #0f4254;
$dropdown-menu-min-width: 100px;


html {
  height: 100vh;
  overflow: hidden;
}

body {
  height: 100vh;
}

#app {
  height: 90vh;
}

.small-container {
  padding-left: 1em;
}

.vert-table {
  margin-bottom: 2rem;
}