// @import 'bulma/css/bulma.css';

$primary-color: #0f4254;
$dropdown-menu-min-width: 100px;

html {
  min-height: 100dvh;
  overflow-y: hidden !important;
}

body {
  /* min-height: 100vh; */
  height: auto;
  overflow-y: hidden !important;
}

#app {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  justify-content: space-evenly;
}

.main {
  height: calc(100vh - 38px);
  display: flex;
  flex-direction: row;
  padding-top: 46px !important;
  margin-top: 0px !important;
}

.topics-holder {
  display: flex;
  flex-direction: column;
  width: 50% !important;
  padding: 0;
  margin: 0;
  height: calc(100vh - 110px);
}

.topic-panel-content {
  flex-grow: 1;
  overflow-y: scroll;
  padding-left: 12px;
  padding-right: 12px;
}

.map-panel-holder {
  width: 50%;
  flex-grow: 1;
  margin-bottom: 0px;
}

.topic {
  height: 2em;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  font-size: 2em;
}

.address-holder {
  color: #0f4d90 !important;
  background-color: #DAEDFe;
  display: flex;
  flex-direction: column;
  padding-left: 2.25em;
  padding-bottom: .5em;
  padding-top: .5em;

  h3 {
    color: #0f4d90 !important;
  }
}

.address {
  display: inline-block;
  padding-left: .25em;
}

.invisible-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.map-panel {
  height: calc(100vh - 103px);
}

.map-panel.cyclomedia-pictometry {
  height: 45vh;
}

#map {
}

.map-class {
  height: 100%;
}




@media screen and (max-width: 768px){

  html {
    min-height: 100dvh;
    overflow-y: hidden;
  }

  body {
    /* min-height: 100vh; */
    height: auto;
    overflow-y: hidden;
  }

  #app {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    justify-content: space-evenly;
  }

  .main {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
  }

  .topics-holder {
    display: flex;
    flex-direction: column;
    width: 100% !important;
    padding: 0;
    margin: 0;
    height: auto;
  }

  .topic-panel-content {
    overflow-y: hidden;
    padding-left: 12px;
    padding-right: 12px;
  }

  .map-panel-holder {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 0px;
  }

  .topic {
    height: 2em;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    font-size: 2em;
  }

  .address-holder {
    color: #0f4d90 !important;
    background-color: #DAEDFe;
    display: flex;
    flex-direction: column;
    padding-left: 2.25em;
    padding-bottom: .5em;
    padding-top: .5em;

    h3 {
      color: #0f4d90 !important;
    }
  }

  .address {
    display: inline-block;
    padding-left: .25em;
  }

  .map-panel {
    height: 300px;
  }

  .map-class {
    height: 300px;
  }

}



.vert-table {
  margin-bottom: 2rem;
}

.table-title {
  margin-bottom: .5rem !important;
}

.link-at-bottom {
  margin-bottom: .5rem !important;
}

.table-link {
  margin-bottom: 2rem;
}

.active-hover {
  background-color: #FFFF00 !important;
}